{{ define "main" }}
<div class="topdown-main">
	<!-- Event -->
	<section class="panel-white">
		<header>
			<h2 class="section-title">Join us now!</h2>
		</header>

		<section class="panel-white">
			<div class="about-joinus">
				<h3>📣USTC ACSA 实验室招收推免研究生</b></h3>
				<div class="joinus-text">
					中国科学技术大学先进计算机系统结构实验室(USTC-ACSA),实验室主任安虹教授。
					<br>
					<br>
					👩🏻‍🏫安虹教授为安徽省教学名师, 计算机系统结构专业学位点负责人；ACM SIGHPC China副主任、国际高性能计算咨询委员会委员。实验室骨干教师包括韩文廷副教授，吴俊敏副教授，陈俊仕研究员，以及石军研究员。
					<br>
					<br>
					✏️实验室主要研究方向为：超大规模并行计算芯片和系统结构，并行程序设计环境与工具，高性能计算，大数据分析，医学影像认知计算系统等。
					<br>
					<br>
					🎖实验室项目经费充足，现有博士生、研究生四十余人。实验室现承担了多项国家自然科学基金、国家科技重大专项、国家重点研发计划等国家级项目，以及多项企业技术攻关横向课题。近年来，在国内外重要的计算机学术会议和期刊SC、PPoPP、IPDPS、HPCA、TPDS、JCST等，以及Science
					Bulletin、PHYSICAL REVIEW B等科学期刊上发表计算机系统结构和高性能计算相关学术论文数百篇，获得专利授权和软件登记数十项，出版教材2部，译著1部。
					<br>
					<br>
					🌏在新一代神威超级计算机上首次实现EAST（先进实验超导托卡马克）和CFETR（中国聚变工程试验堆）“聚变堆全装置动理学等离子体演化模拟”，这是中国科学技术大学首次作为第一完成单位入围被称为“超算领域诺贝尔奖”的戈登•贝尔奖。近三年的主要研究有：新一代神威上的数据流编程和运行时软件，地球系统跨圈层相互作用的超大规模模拟（获得2023年度ACM戈登·贝尔气候建模奖提名），第一性原理超大规模材料电子结构计算等。
					<br>
					<br>
					🏆实验室在相关领域的学术竞赛中成绩优异，先后组织了44支队伍200余人次参加了国内外高性能计算相关赛事SC-SCC，ISC-SCC，ASC，RMDA，PAC，CPC，IPCC，HPC-AI，其中获得曾获得一等奖或第一名17次，二等奖或第二名8次，三等奖或第三名10次，特别奖
					8次；实验室毕业生去往国内外各大名校及华为、阿里、腾讯等一线企业，薪酬优渥。其中，2019届博士毕业生林晗入选华为 “天才少年”（首批8位），在国内外同行中产生广泛影响。
					<br>
					<br>
					<b>本实验室拟招收推免研究生8名，要求学生对计算机系统结构设计、编译和操作系统软件设计、大数据智能分析、高性能计算有浓厚的兴趣和做出一流工作的愿望；诚实守信、性格开朗、勤奋自律；良好的沟通交流能力和团队协作精神；基础知识扎实，编程能力、英语交流能力较强。</b>
					<br>
					<br>
					欢迎感兴趣的同学与实验室联系。请联系邮箱：wangc2023@mail.ustc.edu.cn，实验室主页：acsa.ustc.edu.cn
					<br>
					<br>
					ACSA 实验室宣传彩页 👇
					<br>
				</div>
				<img src="https://raw.githubusercontent.com/ACSAlab/acsa-web-data/main/images/ACSALeaflets.jpg" alt="ACSA Leaflets">
			</div>
		</section>
	</section>
</div>
{{ end }}